<ul class="navbar">
    <li>
        <a class ="lien" href="/">
            <img class="img_logo_etudiant" src="/images/img_logo_etudiant.png" alt="logo">
        </a>
        <p>TalentHub</p>
    </li>
    <li>
        <a class="allLien" href="/announcements">Les annonces</a>
        <a class="allLien" href="/announcements/add">Déposer une annonces</a>
    </li>
</ul>
</header>