<ul class="navbar">
    <li>
    <img class="img_logo_etudiant" src="/images/img_logo_etudiant.png" alt="logo">
        <p>TalentHub</p>
    </li>
    <li>
        <a href="/announcements">Les annonces</a>
        <a href="/announcements/add">Déposer une annonces</a>
    </li>
</ul>