<%- include("../partials/head", { title: "Accueil" }) %>
    <%- include("../partials/nav") %>

        <div class="container_buton_annul">
            <a class="buton_annul" href="/">Annuler</a>
        </div>
        <div class="container_form">
            <form action="" class="form">
                <fieldset action="/annonce" method="POST" class="form1">

                    <h1>Création d’une annonce</h1>

                    <label for="titre">Titre de l’annonce</label><br>
                    <input type="text" id="titre" name="titre" placeholder="Recherche talent junior" required><br><br>


                    <label for="description">Description de l’offre</label><br>
                    <textarea class="textarea" id="description" name="description" placeholder="..."
                        required></textarea><br>


                    <label for="competences">Compétence(s) recherchée(s)</label>
                    <select id="competences" name="competences[]" required>
                        <option value="">-- Sélectionner --</option>
                        <option value="html">HTML</option>
                        <option value="css">CSS</option>
                        <option value="javascript">JAVASCRIPT</option>
                        <option value="react">REACT</option>
                    </select><br>
                </fieldset>

                <fieldset action="/annonce" method="POST" class="form2">
                    <label for="type">Type de mission</label>
                    <select id="type" name="type" required>
                        <option value="">Sélectionner...</option>
                        <option value="CDI">CDI</option>
                        <option value="CDD">CDD</option>
                        <option value="Freelance">Freelance</option>
                    </select>

                    <label for="onboarding" style="margin-left:20px;">Date début mission</label>
                    <input type="date" id="onboarding" name="onboarding"><br>

                    <label for="salaire">Salaire</label>
                    <input type="number" id="salaire" name="salaire" placeholder="€" required>

                    <label for="uniteSalaire" style="margin-left:20px;">Unité de salaire</label>
                    <select id="uniteSalaire" name="uniteSalaire" required>
                        <option value="">-- Sélectionner --</option>
                        <option value="heure">Brut horaire</option>
                        <option value="jour">Brut journalier</option>
                        <option value="mois">Brut mensuel</option>
                        <option value="an">Brut annuel</option>
                    </select><br>
                </fieldset>

                <fieldset action="/annonce" method="POST" class="form3">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" placeholder="password" required>
                    <button class="buton_submit" type="submit">Créer l’annonce</button>
                </fieldset>
            </form>
        </div>

        <%- include("../partials/footer") %>